.landing-nav {
  height: auto;
  padding: 24px 0px;
  background-color: transparent;

  .brand-logo {
    max-height: none;
    height: 60px;
  }
  .button-direct {
    @include btn-outline();
    font-size: 1rem;
  }
}


.landing-hero {
  background-color: transparent;
  text-align: center;
  .title {
    font-size: 3.6rem;
    color: white;
  }
  .subtitle {
    margin-top: 0px;
    padding-bottom: 12px;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    word-break: keep-all;
  }
  .button-direct {
    @include btn-solid();
    padding: 8px 20px 6px 20px;
    margin: auto 6px;
  }
  .hero-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.landing-content {
  background-color: $color-light-gray;
  article {
    padding: 48px 0px;
  }
  .title {
    color: $color-mid-navy;
    text-align: center;
  }
  .content-text {
    color: $color-base-navy;
  }
  p:not(:last-child) {
    margin-bottom: 12px;
  }
  hr {
    margin: 0px;
    border-top: 1px solid $color-lightest-navy;
  }
}
