// main color
$color-dark-navy: #042F3F;
$color-base-navy: #043D51;
$color-mid-navy: #074E64;
$color-light-navy: #326E80;
$color-lightest-navy: #5E8E9C;

// black spectrum
$color-black: #242424;
$color-dark-gray: #464646;
$color-light-gray: #CCCCCC;
$color-lightest-gray: #F0F0F0;

// accent colors
$color-base-yellow: #FDB34A;
$color-light-yellow: #FDCA3C;
$color-base-teal: #29BEBA;
$color-light-teal: #63D3D5;

// media query values
$break-small: 400px;
$break-large: 750px;
